@import url(./global.css);

:root {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
  --primary-color: #3d3d3d;
  --primary-color-dark: #2c2c2c;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #1c1c1c;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-block: 2em;
  padding-bottom: 3em;
}

section.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
}

.form-group-container {
  border-radius: 8px;
  border: 1px solid white;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 50px;
}

.form-control {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 5px 10px;
  font-size: 1em;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  padding: 16px;
  margin-block: 1em;
}

.form-control:focus {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
}

textarea.form-control {
  min-height: 100px;
  max-height: 500px;
  resize: vertical;
}

button[type="submit"] {
  width: 200px;
  height: 50px;
  border: none;
  padding: 16px 24px;
  margin: 1em;
  color: white;
  background-color: #4c90af;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 900px) {
  .form-group {
    width: 60%;
  }
}
